.dockNone {}
.dockFill {
	composes: fill from '../../../public/css/style.css';
}

.alignNone {}
.alignCenter {
	composes: flex centering from '../../../public/css/style.css';
}

.anchorNone {}
.anchorLeft {}
.anchorBotton {
	composes: abs-bottom from '../../../public/css/style.css';
}

.positionNone {}
.positionAbsolute {
	composes: absolute from '../../../public/css/style.css';
}

.w8  { composes:  w-8 from '../../../public/css/style.css'; }
.h10 { composes: h-10 from '../../../public/css/style.css'; }

