.dockFill {
	composes: fill from '../../../public/css/styles.css';
}

.dockNone {}

.alignLeft {}

.alignBotton {
	composes: abs-bottom '../../../public/css/styles.css';
}

.alignNone {}

.positionNone {}

.positionAbsolute {
	composes: absolute '../../../public/css/styles.css';
}

.w8  { composes:  w-8 '../../../public/css/styles.css'; }
.w10 { composes: w-10 '../../../public/css/styles.css'; }

