<DOCTYPE html>
<html lang="ja">
	<head>
		<title>Conb</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/vendors/normalize-5.0.0.min.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
	<div id="main" class="bc-2 flex fill wrap">
		<!-- content -->
		<div class="w-1 fill-y grow-1">
			<div class="fill">
				<div class="fill flex column" data-bind="visible: focus() === 'entry'">
					<!-- search -->
					<div class="bc-1 fill-x h-1 grow-0 flex">
						<div class="w-1 fill-y grow-1">
							<div class="fill">
								<input type="text" class="fill-x h-1 less" placeholder="Search" list="list" data-bind="value: searcher.url.value, event: searcher.events, hasFocus: searcher.url.focus">
							</div>
							<datalist id="list" data-bind="foreach: searcher.urls">
								<option data-bind="text: text, value: value"></option>
							</datalist>
						</div>
						<div class="w-4 fill-y grow-0">
							<div class="fill table">
								<div class="row">
									<i class="wh-1 cell center font-3 fa fa-search hover" data-bind="click: searched"></i>
									<div class="wh-1 cell center less" data-bind="text: searcher.page.curr.value"></div>
									<i class="wh-1 cell center font-3 fa fa-cloud-download hover" data-bind="click: entries.downloaded.bind($data.entries)"></i>
									<i class="wh-1 cell center font-3 fa fa-trash hover" data-bind="click: entries.cleared.bind($data.entries)"></i>
								</div>
							</div>
						</div>
					</div>
					<!-- entry -->
					<div class="fill-x h-1 grow-1 scroll no-selection" data-bind="foreach: entries.list, css: entries.css, event: events">
						<div class="post w-8 h-11 m-q2 left relative" data-bind="css: css">
							<!-- ko foreach: $data.attrs -->
								<!-- ko if: type === 'post' -->
									<div class="w-8 h-10 absolute abs-bottom flex centering">
										<img class="w-max-8 h-max-10 shadow-1" data-bind="attr: { src: image.src() || 'image/404.gif' }">
									</div>
									<div class="bc-g w-8 h-1 absolute abs-top shadow-1">
										<div class="wh-1 flex centering"><img data-bind="attr: { src: `http://www.google.com/s2/favicons?domain=${domain}` }"></div>
									</div>
									<div class="w-8 h-1 absolute abs-top flex just-center" data-bind="visible: $parent.focus() === type">
										<div class="fc-w w-5 h-1 flex arounding">
											<i class="wh-hq round-hq border flex centering hover fa fa-cloud-download" data-bind="click: downloaded, css: { 'fc-g': store() === true }"></i>
											<i class="wh-hq round-hq border flex centering hover fa fa-bookmark" data-bind="click: bookmarked, css: { 'fc-r': bookmark() === true }"></i>
											<i class="wh-hq round-hq border flex centering hover fa fa-thumbs-up" data-bind="click: favorited, css: { 'fc-y': favorite() === true }"></i>
											<i class="wh-hq round-hq border flex centering hover fa fa-check" data-bind="click: stored"></i>
											<i class="wh-hq round-hq border flex centering hover fa fa-trash" data-bind="click: unretentioned"></i>
										</div>
									</div>
									<div class="w-8 h-3 absolute abs-bottom" data-bind="visible: $parent.focus() === type">
										<div class="h-h"></div>
										<div class="fc-orange text-shadow h-h right" data-bind="text: date"></div>
										<div class="bc-b fc-w trans w-8 h-2 text-wrap">
											<a data-bind="text: text, css: { visit: visit }, attr: { href: href, title: text }, click: opened"></a>
										</div>
									</div>
								<!-- /ko -->
								<!-- ko if: type === 'tags' -->
									<div class="fc-w w-8 h-1 absolute abs-top flex just-center" data-bind="visible: $parent.focus() === type">
										<div class="w-6 h-1 flex arounding">
											<i class="bc-w fc-g flex centering w-1 h-hq fa fa-tag hover" data-bind="click: tagged.bind($data, $data.input.value())"></i>
											<input class="w-5 h-hq less" type="text" placeholder="Input tag name" data-bind="value: input.value, event: { keyup: input.onKeyup.bind($data.input) }">
										</div>
									</div>
									<div class="fc-w bc-b trans w-8 h-10 absolute abs-bottom" data-bind="visible: $parent.focus() === type, foreach: tags">
										<div class="flex row-center left pr-q1"><i class="fa fa-remove hover", data-bind="click: $parent.untagged.bind($parent, $data)"></i><div data-bind="text: name"></div></div>
									</div>
								<!-- /ko -->
							<!-- /ko -->
							<!-- remove entry -->
							<div class="w-1 h-1 absolute abs-top abs-right">
								<i class="fc-w wh-1 flex centering fa fa-remove hover" data-bind="click: $root.entries.remove.bind($root.entries, $data)"></i>
							</div>
							<!-- attr pager -->
							<div class="w-8 h-1 absolute abs-bottom flex just-center">
								<div class="fc-w w-3 h-1 flex arounding" data-bind="foreach: attrs">
									<i class="wh-1 flex centering hover fa" data-bind="click: $parent.focused.bind($parent, $data), css: { 'fa-dot-circle-o': $parent.focus() === type, 'fa-circle-o': $parent.focus() !== type }"></i>
								</div>
							</div>
						</div>
					</div>
					<!-- selector -->
					<div id="selector" class="bc-1 selected trans absolute" data-bind="css: selector.css, style: selector.style"></div>
				</div>
				<!-- log -->
				<div class="fill flex column" data-bind="visible: focus() === 'log'">
					<div class="bc-1 fill-x h-1 grow-0 flex">
						<div class="wh-1 grow-1">
							<div class="fill-x h-1 table">
								<div class="cell middle">Log</div>
							</div>
						</div>
						<div class="wh-1 grow-0">
							<div class="wh-1 table">
								<div class="row"><i class="wh-1 cell center font-3 fa fa-trash hover" data-bind="click: logger.clear.bind($data.logger)"></i></div>
							</div>
						</div>
					</div>
					<div class="fill-x h-1 grow-1 scroll" data-bind="foreach: logger.lines">
						<div data-bind="text: $data"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- toolbar -->
		<div class="bc-1 w-1 fill-y grow-0">
			<div class="fill">
				<div class="w-1 table">
					<div class="row"><i class="bc-1 fc-1 wh-1 cell center font-3 fa fa-globe hover" data-bind="css: { primary: focus() === 'entry' }, click: focused.bind($data, 'entry')"></i></div>
					<div class="row"><i class="bc-1 fc-1 wh-1 cell center font-3 fa fa-commenting hover" data-bind="css: { primary: focus() === 'log' }, click: focused.bind($data, 'log')"></i></div>
					<div class="row"><i class="wh-1 cell center font-3 fa fa-wifi" data-bind="style: wsObserver.style"></i></div>
					<div class="row"><i class="wh-1 cell center font-3 fa fc-1" data-bind="css: webObserver.css"></i></div>
					<div class="row"><i class="wh-1 cell center font-3 fa fa-question hover" data-bind="click: entries.test.bind($data.entries)"></i></div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/bundle.js"></script>
	</body>
</html>
