<DOCTYPE html>
<html lang="ja">
	<head>
		<title>Conb</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/vendors/normalize-5.0.0.min.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
	<div id="main" class="bc-2 flex fill wrap">
		<!-- content -->
		<div class="w-1 fill-y grow-1">
			<div class="fill">
				<div class="fill flex column" data-bind="visible: focus() === 'entry'">
					<!-- search -->
					<div class="bc-1 fill-x h-1 grow-0 flex">
						<div class="w-1 fill-y grow-1">
							<div class="fill">
								<input type="text" class="fill-x h-1 less" placeholder="Search" list="list" data-bind="value: searcher.url.value, event: searcher.events, hasFocus: searcher.url.focus">
							</div>
							<datalist id="list" data-bind="foreach: searcher.urls">
								<option data-bind="text: text, value: value"></option>
							</datalist>
						</div>
						<div class="w-4 fill-y grow-0">
							<div class="fill table">
								<div class="row">
									<i class="wh-1 cell center font-3 fa fa-search hover" data-bind="click: searched"></i>
									<div class="wh-1 cell center less" data-bind="text: searcher.page.curr.value"></div>
									<i class="wh-1 cell center font-3 fa fa-cloud-download hover" data-bind="click: entries.downloaded.bind($data.entries)"></i>
									<i class="wh-1 cell center font-3 fa fa-trash hover" data-bind="click: entries.cleared.bind($data.entries)"></i>
								</div>
							</div>
						</div>
					</div>
					<!-- entry -->
					<div class="fill-x h-1 grow-1 scroll no-selection" data-bind="foreach: entries.list, css: entries.css, event: events">
						<div class="post w-8 h-10 m-q2 left" data-bind="css: css">
							<!-- ko foreach: $data.attrs -->
								<!-- ko if: type === 'post' -->
									<div class="w-8 h-10 table">
										<span class="cell center"><img class="w-max-8 h-max-10 shadow-1" data-bind="attr: { src: image.src() || 'image/404.gif' }"></span>
									</div>
									<div class="w-8 h-10 relative py--10">
										<div class="table w-8 h-3">
											<div class="row">
												<div class="fc-g wh-1 cell center"><img data-bind="attr: { src: favicon }"></div>
												<div class="w-6 h-1 cell center"></div>
												<div class="wh-1 cell center hover" data-bind="click: $root.entries.remove.bind($root.entries, $parent)"><i class="font-3 fa fa-remove"></i></div>
											</div>
											<div class="row">
												<div class="wh-1 cell center"></div>
												<div class="w-6 h-1 cell center"></div>
												<div class="wh-1 cell center hover" data-bind="click: unretentioned"><i class="font-3 fa fa-thumbs-down"></i></div>
											</div>
											<div class="row">
												<div class="wh-1 cell center"></div>
												<div class="w-6 h-1 cell center"></div>
												<div class="wh-1 cell center hover" data-bind="click: stored"><i class="font-3 fa fa-save"></i></div>
											</div>
										</div>
										<div class="w-8 h-5"></div>
										<div class="bc-b fc-w trans w-8 h-1 text-wrap">
											<a data-bind="text: text, css: { visit: visit }, attr: { href: href, title: text }, click: opened"></a>
										</div>
										<div class="bc-b fc-w trans table w-8 h-1">
											<div class="w-5 cell middle" data-bind="text: date"></div>
											<div class="wh-1 cell center hover" data-bind="click: downloaded"><i class="font-3 fa fa-cloud-download" data-bind="css: { 'fc-g': store() }"></i></div>
											<div class="wh-1 cell center hover" data-bind="click: bookmarked"><i class="font-3 fa fa-bookmark" data-bind="css: { 'fc-r': bookmark() }"></i></div>
											<div class="wh-1 cell center hover" data-bind="click: favorited"><i class="font-3 fa fa-thumbs-up" data-bind="css: { 'fc-y': favorite() }"></i></div>
										</div>
									</div>
								<!-- /ko -->
							<!-- /ko -->
						</div>
					</div>
					<!-- selector -->
					<div id="selector" class="bc-1 selected trans absolute" data-bind="css: selector.css, style: selector.style"></div>
				</div>
				<!-- log -->
				<div class="fill flex column" data-bind="visible: focus() === 'log'">
					<div class="bc-1 fill-x h-1 grow-0 flex">
						<div class="wh-1 grow-1">
							<div class="fill-x h-1 table">
								<div class="cell middle">Log</div>
							</div>
						</div>
						<div class="wh-1 grow-0">
							<div class="wh-1 table">
								<div class="row"><i class="wh-1 cell center font-3 fa fa-trash hover" data-bind="click: logger.clear.bind($data.logger)"></i></div>
							</div>
						</div>
					</div>
					<div class="fill-x h-1 grow-1 scroll" data-bind="foreach: logger.lines">
						<div data-bind="text: $data"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- toolbar -->
		<div class="bc-1 w-1 fill-y grow-0">
			<div class="fill">
				<div class="w-1 table">
					<div class="row"><i class="bc-1 fc-1 wh-1 cell center font-3 fa fa-globe hover" data-bind="css: { primary: focus() === 'entry' }, click: focused.bind($data, 'entry')"></i></div>
					<div class="row"><i class="bc-1 fc-1 wh-1 cell center font-3 fa fa-commenting hover" data-bind="css: { primary: focus() === 'log' }, click: focused.bind($data, 'log')"></i></div>
					<div class="row"><i class="wh-1 cell center font-3 fa fa-wifi" data-bind="style: wsObserver.style"></i></div>
					<div class="row"><i class="wh-1 cell center font-3 fa fc-1" data-bind="css: webObserver.css"></i></div>
					<div class="row"><i class="wh-1 cell center font-3 fa fa-question hover" data-bind="click: entries.test.bind($data.entries)"></i></div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/bundle.js"></script>
	</body>
</html>
